<!DOCTYPE html>
<html lang="en">
<head th:insert="include"></head>
<body ng-app="myApp">
    <section th:insert="fragments/header"></section>
    <!-- /#wrapper -->
    <section th:insert="fragments/raised-event-table"></section>
    <th:insert="scripts">
    </th:insert>
    <script>
    var myApp = angular.module("myApp",[]);
    myApp.controller("headerController",function($scope,$http)
    {
        $http.get("/session-services/get-loggedinuser").then(function(response){
            $scope.userName = response.data.firstName + " " +response.data.lastName;
        });
    });
    myApp.controller("staticsController",function($scope,$http){
        $http.get("/session-services/get-loggedinuser-statics").then(function(response)
        {
            $scope.staticsData = response.data;
            console.log(response.data);
        });
    });
    myApp.controller("raisedEventTableControl",function($scope,$http){
        $http.get("/session-services/get-raised-event-details").then(function(response){
            $scope.eventsRaised = response.data;
        })
    });
    </script>


</body>

</html>
